## .NET
bin/
obj/
publish/
*.user
*.suo
*.cache
*.dll
*.exe
*.pdb
*.log

## Visual Studio
.vs/
*.vsidx
*.vspscc
*.vsscc
*.sln.docstates

## Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Aa]rm/
[Aa]rm64/
bld/
[Bb]in/
[Oo]bj/

## User-specific files
*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates

## Rider
.idea/
*.sln.iml

## Windows
Thumbs.db
Desktop.ini
$RECYCLE.BIN/

## Logs
logs/
*.log
